<div id="footer-content">
  <p>
    <%= image_tag 'burnify-mini.gif' %><br/>
    <i>&rarr; Burndown charts for &forall;!</i><br/>
    <br/>
    hallo<br/> 
    hej<br/> 
    hi<br/> 
    welcome<br/>
    moin moin<br/> 
    <br/>
    <br/>
    <span style="font-weight: bold; color: red;">Warning: this is highly experimental alpha software! use at your own risk!</span>
  </p>
</div>
